NUXT_PUBLIC_HELLO_TEXT="Hello from the Edge 👋"

# Cloudflare Credentials (Wrangler / Deploy 用)
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id_here
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here